* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

h2 {
  font-size: 1em;
  font-weight: normal;
  text-decoration: underline;
  margin: 0;
}

div {
  background-color: grey;
}

.monospaced {
  font-family: monospace;
  text-decoration: underline;
}

.centered {
  text-align: center;
  font-weight: normal;
  background-color: grey;
  margin: 0;
}

#subtitle {
  font-size: 1.5rem;
}

#title {
  font-size: 3rem;
}
