/* minor CSS reset */
/* You should not need to change anything here */
html,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* An attempt at fixing it! :P */
body {
  background-color: #eaeaee;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 24px;
  max-height: 600px;
  margin: 0 auto;
  padding: 32px;
}

h1,
h2 {
  font-family: "Bangers", cursive;
}

.h2 {
  text-decoration: underline;
}

.centered {
  text-align: center;
}

.title {
  font-size: 48px;
}

.content {
  background-color: white;
  padding: 20px;
  margin-top: 48px;
}

.content > ul {
  margin-top: 10px;
  padding-left: 10px;
}

.element {
  list-style-type: square;
}

.first {
  font-weight: normal;
}

.second {
  font-weight: bold;
}
